ion-header{
  ion-toolbar{
    ion-buttons{
      ion-button{
        ion-icon{
          color: #3a7be0;
        }
        ion-badge{
          color: black;
          background-color: white;
        }
      }
    }
  }
}
