<ion-header>
  <ion-toolbar>
    <ion-title>Votre Commande</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="product-container">
    <ion-list *ngFor="let oneProduct of panier">
      <ion-item>
        <ion-avatar>
          <img src="{{oneProduct.photo}}">
        </ion-avatar>
        <ion-label>
          <h2>{{oneProduct.nom}}</h2>
          <h3>{{oneProduct.prix}} €</h3>
        </ion-label>
        <ion-button slot="end" (click)="razPizzaToBuy(oneProduct.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
