<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        PizzaYolo
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/pizza">
        <ion-icon name="pizza"></ion-icon>
        <ion-label>Nos Pizzas</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/commande">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Votre commande</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
